<h1>Chamber Committees</h1>
<ul>
  {{#each model.committees as |committee|}}
    <li>
      {{log (subcommittee-link committee model)}}
      {{#if (subcommittee-link committee model)}}
        {{#link-to 'committee' committee.committee_id}}<p>See Subcommittees</p>{{/link-to}}
      {{/if}}
      {{committee.name}}</li>
  {{/each}}
</ul>
